.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #2f303a;

  background-position: center;
  background-size: 480px 400px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/hero-sm.jpg);

  // для ретина моб версия

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero-sm@2x.jpg);
  }

  @media screen and (min-width: 768px) {
    background-size: 768px 400px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero-md.jpg);
  }

  // для ретина планшетная версия

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero-md@2x.jpg);
  }

  @media screen and (min-width: 1200px) {
    background-size: 1600px 600px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero-lg.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
  }

  // для ретина десктоп версия
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero-lg@2x.jpg);
  }
}

/* Hero title*/
.hero__title {
  margin-left: auto;
  margin-bottom: 30px;
  margin-top: 0;
  margin-right: auto;
  max-width: 360px;
  text-align: center;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-transform: uppercase;
  letter-spacing: 0.06em;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
    max-width: 700px;
  }
}
