:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --background-color: #fff;
  --bg-color-footer: #2f303a;
  --icon-color: #afb1b8;

  /* Сетка */
  --card-set-gap: 30px;
  --anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
